@use "./styles/abstracts/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600&display=swap');


body {
  font-family: $font-body;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}